/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
compiled*.js
compiled*.css
_ide_helper.php
.phpstorm.meta.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
/tests/sandbox
/packages
TODO.md
*.min.css
*.css.map
vars.css
.php_cs.cache
